body{
    background-color: gray;
    font-family: "Dubai Light"

}
div{
    border-radius: 10px;
    padding: 10px;
    background-color: lightgrey;
    margin: 10px;
}
table{
    width: 100%;
    text-align: center;
}
th{
    background-color: gray;
    color: white;
}
img {
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}